 <% if item.errors.any? %>

<div class="alert">  
<a class="close" data-dismiss="alert">×</a>  

<% item.errors.full_messages.each do |error|%>
<strong><%= error %><br></strong>
<%end%>
<% end %>
</div>  
