<% if !logged_in? %>
<div class="well explanation span5"><p><small>
PostIt! is a website aggregator.  Developed with with Ruby on Rails, it allows registered users to submit and categorize links (aka "Posts") to their favorite websites.  PostIt! accumulates these links and facilitates user voting on their relative merit.  On the back-end, it showcases the following features:
<ul>
<li>Common C.R.U.D. Actions</li>
<li>Post and commenting voting (with polymorphic associations)</li>
<li>Hand-built authentication (without the use of gems like Devise or Authlogic)</li>
<li>Twitter bootstrap implementation</li>
<li>Partials</li>
</ul>
</div>
</small>
</div>
</div>


<h3>Welcome!</h3>
<% end %>

<p><b>PostIt!</b> is a website aggregator--users submit links that are voted up or down.</p>

<p> <%= render '/shared/display_posts', :obj => @all_posts.sort_by{|post|post.sum_votes}.reverse %> </p>


