<% if !logged_in? %>
<div class="well explanation span5"><p><small>
Developed with with Ruby on Rails, PostIt! is a website aggregator.  It allows registered users to submit and categorize links (aka "Posts") to their favorite websites.  PostIt! accumulates these links and facilitates user voting on their merits.  Click on the "Sign Up" link to view the full feature set (we don't require an email address).

Back-end architecture includes the following features:
<ul>
<li>Common C.R.U.D. Actions</li>
<li>Post and comment voting (via polymorphic associations)</li>
<li>MVC with various associations</li>
<li>AJAX via Server-generated Javascript Response (SJR)</li>
<li>User authentication (without the use of Rails gems like Devise or Authlogic)</li>
<li>URL slugging</li>
<li>Twitter bootstrap implementation</li>
</ul>
</div>
</small>
</div>
</div>


<h3>Welcome!</h3>
<% end %>

<p><b>PostIt!</b> is a website aggregator--users submit links that are voted up or down.</p>

<p> <%= render '/shared/display_posts', :obj => @all_posts.sort_by{|post|post.sum_votes}.reverse %> </p>


