/*This css file should override the default booststrap CSS*/

.well.well-lg {
  width:500px;
}

.well.well-small{
  width:500px;
}

.well.text-error{
width:200px;
background-color: #E8E8E8;
}

.span1.well.voting{
height:35px;
width:35px;
text-align: center;
}

.voting_text{
line-height: 1;
}

.well{
background-color: #E8E8E8;
}

.dropdown-menu{
margin-right: 150px;
}